.homepage-content {
    
    .display-post{
        .post-flex{
            margin-top: 15px;
            display: flex;
            flex-direction: row;
            gap: 10px;
            justify-content: flex-start;	
            align-items: center;	
            .card{
                .post-image{
                    height: 150px;
                }
                .post-author{
                    font-size: 14px;
                    font-weight: 600;
                }
                .post-time{
                    font-size: 12px;
                    font-weight: 600;
                    
                }
                .col-md-6.post-time-div {
                    text-align: right;
                }
                .post-title{
                    margin-right: 0;
                    padding-right: 0;
                    font-size: 18px;
                    text-decoration: none;
                    color: rgb(39,32,37);
                    cursor: pointer;

                    &:hover {
                        font-weight: 700;
                    }
                }
                
            }

           

        }
        
    }
    .row {
        .col-md-7{
            .nav-tabs{
                border-bottom: none;
                .nav-item {
                    .nav-link{
                        font-weight: 600;
                        &.active {
                            border-color: none;
                            border: 1px solid white;
                            border-bottom: 1px solid rgb(51,152,212);
                            outline: none;
                        }
                        &:hover{
                            outline: 1px solid white;
                            border: 1px solid white;
                        }
                    }
                }
            }
            .tab-content {
                .tab-pane{
                    .card-gallery {
                        .card-gallery-image{
                            height: 200px;
                        }
                        .tab-display-posts{
                            .card-gallery-category{
                                display: flex;
                                flex-direction: row;
                                justify-content: space-between;	
                                .card-display {
                                    .card-display-category {
                                        font-size: 15px;
                                        text-decoration: none;
                                        color: rgb(39,32,37);
                                        cursor: pointer;


                                        &:hover {
                                            font-weight: 600;
                                        }
                                    }
                                }
                                
                                
                            }
                            .card-gallery-title{
                                
                                .card-display-title {
                                    font-size: 20px;
                                    text-decoration: none;
                                    color: rgb(39,32,37);
                                    cursor: pointer;
                                    
                                    &:hover {
                                        font-weight: 800;
                                    }
                                }
                            }
                            .card-gallery-description{
                                font-size: 12px;
                                
                            }
                            .card-gallery-author{
                                .card-avatar-image{
                                    border-radius:50%;
                                    width: 50px;
                                    height: 50px;
                                    margin: 0px;
                                    padding: 0px;
                                    
                                }
                                .card-author-name {
                                    font-weight: 600;
                                    margin-top: 15px;

                                    .card-author-time {
                                        font-size: 14px;
                                        color: rgb(141,147,153);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}