.user-info{
    
    margin: 0 auto;
    .background-color{
        height: 100%;
        background: rgb(245,247,250);
    }
    .avatar-image{
        width: 140px;
        height: 100px;
        img{
            
            max-width: 80%;
            height: 100%;
        }
    }
    .info {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 5px;
        justify-content: center;
        .info-name {
            font-size: 20px;
        }

        .info-email {
            color: rgb(82, 78, 78);
            font-size: 15px;
        }
        .btn-info {
            .btn {
                margin: 0 !important;
            }
        }
        .populate{
            display: flex;
            flex-direction: row;
            gap: 15px;

            .populate-content{
                display: flex;
                flex-direction: column;
            }
        }
    }
    .content {
        overflow: hidden;

        .tab-content{
            .tab-pane {
                .btn-series {
                    height: 50px;
                    .btn-new-series {
                        float: right;
                        width: 120px;
                        
                    }
                }
                
                .card {
                    border: none;

                    .card-body {
                        .card-title {
                            .post-title {
                                text-decoration: none;
                                color: black;
                            }
                        }
                        .card-detail-button {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;

                            .btn-detail {
                                border: 1px solid black;
                            }
                        }

                    }
                    
                }
            }
        }
    }
}