
* {
    margin: 0;
    padding: 0;
  }
  
  body {
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .app-container {
    .header-container {
      border-bottom: 2px solid rgb(252, 243, 243);
      height: 120px;
      button.btn-login {
        border-radius: 20px;
        margin-right: 15px;
        border: 1px solid #ccc;
        padding: 0 10px;
        background: rgba(70, 178, 240,.8);
        width: 120px;
    }
    button.btn-signup {
      border-radius: 10px;
      margin-right: 15px;
      border: none;
      padding: 0 10px;
      
      background: none;
      color: black;
  
      &:hover{
        background: black;
      }
    }
  
      .navbar {
        padding-top: 20px;
        z-index: 10;
        background-color: rgba(0,0,0,0) !important;
        .container-fluid {
          .navbar-collapse {
            .navbar-nav {
              .nav-link {
                &.active {
                  color: #00bfff;
                }
              }
            }
          }
        }
        
      }
    }
  
    .homepage-container {
      .homepage-content {
        padding: 150px;
        width: 50%;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 30px;
  
        .title-1 {
          font-size: 55px;
          font-weight: 600;
        }
  
        .title-2 {
          font-size: 25px;
        }
  
        .title-3 {
          button {
            border-radius: 5px;
            border: 1px solid black;
            padding: 10px;
            background: black;
            color: white;
  
            &:hover {
              background: #4b4a4a;
  
            }
          }
        }
      }
    }
  }
  
  video {
    position: fixed;
    padding: 0;
    width: 100vw;
  }
  
  